* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    list-style: none;
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    max-width: 1350px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

section {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-top: 30px;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    border-radius: 15px;
}

.logo img {
    width: 180px;
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.dropdown-content a {
    background-color: #FFFFFF;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.s-button {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 700;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
}

.container-card {
    min-height: 500px;
    border-radius: 15px;
}

.cards {
    margin: 1rem;
    display: flex;
    justify-content: space-around;
}

.card-title {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.s-card img {
    border-bottom: 3px solid #FF8C00;
    border-left: 3px solid #FF8C00;
    border-radius: 15px;
}

.container-benefits {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 500px;
    gap: 1rem;
    padding: 1rem;
    /* background-color: #FF8C00; */
    /* border-radius: 15px; */
}

.header-benefits {
    width: 28.625rem;
    height: 10rem;
    background: #29292c;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 16px;
    padding: 1rem 1rem;
}

.container-cards {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.s-cards-benefits {
    width: 29rem;
    height: 10rem;
    background: #29292c;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 16px;
    padding: 1rem 1rem;
}

.container-finance {
    /* min-height: 500px; */
}

.finance-title {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.finance-cards {
    padding: 1rem;
    gap: 7rem;
    display: flex;
    justify-content: center;
}

.finance-img img {
    /* border-bottom: 3px solid #ff5100; */
    /* border-left: 3px solid #ff5100; */
    border-radius: 15px;
}

.card-finance-content {
    display: flex;
    max-width: 570px;
    max-height: 334px;
    /* background-color: rgba(202, 142, 12, 0.205); */
    gap: 1rem;
}

.finance-context {    
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

}

.finance-list {
    margin-left: 1rem;
}

.finance-button {
    margin-top: 1rem;
}

.border-finance {
    border-left: 1px solid rgb(0, 0, 0);
}

.container-contract {
    min-height: 500px;
    background-color: #DBE1DD;
    border-radius: 15px;
}